#registration

  .ui.form.segment
    .two.fields
      .field
        %label First Name
        .ui.left.labeled.icon.input
          %input{placeholder: "First Name", type: "text"}
          .ui.corner.label
            %i.icon.asterisk
      .field
        %label Last Name
        .ui.left.labeled.icon.input
          %input{placeholder: "Last Name", type: "text"}
          .ui.corner.label
            %i.icon.asterisk
    .field
      %label Username
      .ui.left.labeled.icon.input
        %input{placeholder: "Username", type: "text"}/
        %i.user.icon
        .ui.corner.label
          %i.icon.asterisk
    .field
      %label Password
      .ui.left.labeled.icon.input
        %input{type: "password"}/
        %i.lock.icon
        .ui.corner.label
          %i.icon.asterisk
    .ui.error.message
      .header We noticed some issues
    .ui.positive.submit.button Registration

  #buttons
    .vk.ui.button
      Войти через VK
    .fb.ui.button
      Войти через FaceBook
    .gm.ui.button
      Войти через Gmail
