#content
  %h1
    Виртуальный дневник

  .group
    =render 'screenshot'
    =render 'registration'

  #text
    Security Notice: The Python code used by this method does not use SSL because Sublime Text on Linux does not have the ssl module. Additionally, for Windows and OS X it is not possible for a simple snippet of code like this to validate the SSL certificate for sublime.wbond.net. For a more secure installation method, follow the manual instructions.
