#body-tema

  #content-tema
    %p
      This site is currently under construction...

      %span
        = link_to 'rus', '/tema_ru'
        %a
          eng

    %h1
      Malakhow Artyom

    %ul
      %li
        interior design
      %li
        decorating
      %li
        graphic design
      %li
        furniture design
      %li
        furniture making
      %li
        contacts:

        %p
          phone: 8(911)958-58-53
        %p
          skype: artyom_malakhow
        %p
          mail: artyom@malakhow.com

  %footer

