#body-tema

  #content-tema
    %p
      Полная версия сайта находится в разработке...

      %span#ru
        %a
          rus

        = link_to 'eng', '/tema'
    %h1
      Малахов Артём

    %ul
      %li
        дизайн интерьера
      %li
        декорирование
      %li
        графический дизайн
      %li
        дизайн мебели
      %li
        создание мебели
      %li
        контакты:

        %p
          телефон: 8(911)958-58-53
        %p
          skype: artyom_malakhow
        %p
          mail: artyom@malakhow.com

  %footer

